<h3>Generate QR Code</h3>
<p>State number of products below. Random unique serial numbers will be generated and you can export them for printing process.</p>

<form clrForm>
    <clr-input-container>
        <label class="clr-col-12 clr-col-md-4">Number of Products</label>
        <input class="clr-col-12 clr-col-md-8" clrInput type="text" placeholder="1000" name="prod_num" required />
        <!-- <clr-control-helper>Nomor Ijin Edar</clr-control-helper> -->
        <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
    </clr-input-container>
    <br>
    <button class="btn btn-sm btn-primary" type="submit" >Export</button>
    <button class="btn btn-sm" type="button" >Reset</button>
</form>
<br>
<div class="scroll">
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
    <span class="label">Austin</span>
    <span class="label">New York</span>
    <span class="label">Palo Alto</span>
    <span class="label">San Francisco</span>
    <span class="label">Seattle</span>
</div>



