<h3>Generate QR Code</h3>
<p>State number of products below. Random unique serial numbers will be generated and you can export them for printing process.</p>

<form clrForm [formGroup]="codeForm" (ngSubmit)="submit()">
    <clr-input-container>
        <label class="clr-col-12 clr-col-md-4">Number of Products</label>
        <input class="clr-col-12 clr-col-md-8" clrInput type="text" formControlName="num" placeholder="1000" name="prod_num" required />
        <!-- <clr-control-helper>Nomor Ijin Edar</clr-control-helper> -->
        <clr-control-error>Please input number of products!</clr-control-error>
    </clr-input-container>
    <br>
    <button class="btn btn-sm btn-success" type="button" (click)="generateSerials()" [disabled]="!codeForm.valid">Generate</button>
    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!codeForm.valid">Export</button>
    <button class="btn btn-sm" type="button" (click)="resetForm()" [disabled]="!codeForm.valid">Reset</button>
</form>
<br>
<div class="scroll">
    <span class="label" *ngFor="let serial of serials$ | async">{{serial}}</span>
</div>



