<div id="content">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
        <section class="sidenav-content">
            <clr-vertical-nav>
                <a clrVerticalNavLink routerLink="./serialization" routerLinkActive="active">Serialization</a>
                <a clrVerticalNavLink routerLink="./codegen" routerLinkActive="active">Code Generation</a>
                <div class="nav-divider"></div>
                <a clrVerticalNavLink routerLink="./help" routerLinkActive="active">Help</a>
            </clr-vertical-nav>
        </section>
    </nav>
</div>
