<div id="content">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
        <section class="sidenav-content">
            <clr-vertical-nav>
                <a clrVerticalNavLink routerLink="./printer" routerLinkActive="active">Printer</a>
                <a clrVerticalNavLink routerLink="./uv" routerLinkActive="active">UV Protection</a>
                <a clrVerticalNavLink routerLink="./scanner" routerLinkActive="active">Scanner</a>
                <a clrVerticalNavLink routerLink="./rejector" routerLinkActive="active">Rejector</a>
                <a clrVerticalNavLink routerLink="./aggregation" routerLinkActive="active">Aggregation</a>
                <a clrVerticalNavLink routerLink="./cloud" routerLinkActive="active">Cloud Storage</a>
                <div class="nav-divider"></div>
                <a clrVerticalNavLink routerLink="./help" routerLinkActive="active">Help</a>
            </clr-vertical-nav>
        </section>
    </nav>
</div>
    