<div id="content">
<div class="content-area">
    <router-outlet></router-outlet>
</div>
<nav class="sidenav">
    <section class="sidenav-content">
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="./process" routerLinkActive="active">Scanning Process</a>
            <a clrVerticalNavLink routerLink="./devices" routerLinkActive="active">Devices</a>
            <!-- <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active">Scanning</a>
            <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active">Aggregation</a>
            <a clrVerticalNavLink routerLink="./snorlax" routerLinkActive="active">Settings</a> -->
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="./help" routerLinkActive="active">Help</a>
        </clr-vertical-nav>
    </section>
</nav>
</div>
