<!-- <h3>Detected Devices</h3> -->
<img src="assets/images/scanner.png" alt="scanner" width="120">
<p class="p2">Detected Devices:</p>
<div *ngIf="devicesStoreService.devices$; else empty">
    <ul class="list" *ngFor="let device of devicesStoreService.devices$ | async; let i = index">
        <li>{{device.path}}&nbsp;&nbsp;<span><button class="btn btn-sm" (click)="connect(device.path)">Connect</button></span></li>
    </ul>
</div>
<ng-template #empty>
    <p>No device found</p>
</ng-template>
<br>
<button class="btn btn-primary btn-sm" (click)="detect()">Detect</button>